body {
    background-image: url(../images/jj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sdjc img {
    width: 220px;
    margin: 20px 20px;
}

p {
    text-indent: 20px;
}

h4 {
    /* text-align: center; */
    margin-top: 20px;
    font-weight: bold;
    /* background-color: brown; */
}