.jumbotron {
    background-image: url(../images/tea.jpg);
    height: 400px;
    color: azure;
    font: bolder;
    text-shadow: 5px 5px 5px black;
}

.navbar {
    background-color: darkslategrey !important;
}

p {
    text-indent: 20px;
}

.item p {
    font-size: 12px;
}

.active {
    background-color: darkcyan !important;
}

a {
    color: black;
}