.container {
    background-color: rgb(143, 162, 118)
}

p {
    text-indent: 20px;
    font-size: 13px;
}

.col-sm-3.word {
    margin-left: 40px;
}

h1 {
    text-shadow: -1px -1px 1px #fff;
}